body {
  margin: 0;
  padding: 0;
  background-color: #140087;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Trebuchet MS', sans-serif;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

header {
  width: 100%;
  color: #fff;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-section {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 150px;
}

.input-container {
  width: 100%;
  max-width: 650px;
  position: relative;
}

input {
  width: 100%;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 0 20px 30px -10px;
  box-sizing: border-box;
}

#submit {
  position: absolute;
  top: 12px;
  right: 24px;
}